$bg-color: #21453c;
$small: 700px;

.signup-container {
  background-color: $bg-color;
  height: 100vh;
  width: 100%;
  .signup-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .signup-form {
    background-color: #235e4a;
    padding: 10px;
    padding-left: 40px;
    border-radius: 8px;
    padding-right: 40px;
    min-width: 350px;
  }

  .auth-quote {
    @media screen and (max-width: $small) {
      display: none;
    }
  }
}
